body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d69d60;
}

.header {
    color: #000;
}

.search-form {
    text-align: center;
    background: #a67a4c;
    height: 7rem;
    padding: 1rem;
}

.search-results {
    width: 45%;
    float: left;
    padding-left: 2.5%;
    display: grid;
}

.active-monsters {
    width: 45%;
    float: right;
    padding-right: 2.5%;
    display: grid;
}

.active-list {
    grid-row-start: 2;
}

.clear-button {
    float: right;
}

.title {
    float: left;
    padding-bottom: 5%;
    grid-row-start: 1;
    grid-column-start: 1;
}

.button {
    padding-top: 5%;
    float: right;
    grid-column-start: 2;
}

.results-list {
    float: left;
    padding-top: 5%;
    grid-row-start: 2;
}

#search-title {
    grid-column-start: 1;
    grid-row-start: 1;
}

#search-button {
    grid-column-start: 2;
}

.active {
    background-color: darksalmon;
    border-color: #000;
    border-width: 5px;
    border-style: solid;
    margin: 7%;
}